.addpost-container {
   display: flex;
   flex-direction: column;
   width: 100%;


    border-radius: 10px;
    background-color: #352f3c;
}

.addpost-container form {
   display: flex;
   flex-direction: column;
}

.addpost-container select,
.addpost-container input {
   margin-bottom: 10px;
   padding: 10px;
   font-size: 1.2em;
   background-color:white;
   color:black;
}

.inputTitle {
   margin-top: 2rem;
   font-size: 24px;
}

.button{
   width: 10rem;
   height: 3rem;
   font-size: 1.25rem;
   margin-top:1em;
   padding: 5px 10px;
   border-radius: 5px;
   color: var(--text);
   border: none;
   cursor: pointer;
 }
 
 .view{
   background-color: teal;
 }
 
 .view:hover{
   background-color: #043939;
 }

@media (max-width: 600px) {
   .container {
       padding: 0 20px;
   }
}