/**
.postCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
**/

.postCardContainer {
  width: auto;
  margin-bottom: 10rem;
}

.imgContainer {
  width: 250px;
  height: 250px;
  margin-right: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  float: left;
}

.img {
  width: 100%;
}

.textCon {
  display: block;
}

.content p {
  margin-bottom: 1rem;
}

.content a {
  padding-top: 3rem;
  color: var(--btn);
}

@media (max-width: 768px) {
  .postCardContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom:2rem;
  }

  .imgContainer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .img {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }
}