.container-admin {
    display: flex;
  }
  
.container-admin .menu {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  min-height: 100vh;
}
  
.container-admin .content {
  flex: 4;
  padding: 0 20px 0 20px;
}
  
.wrapper-admin {
  display: flex;

  
}
  
.main-admin {
  flex: 3;
  display: flex;
  flex-direction: column;

  background-color: #352f3c;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  
}
  
.container-admin .cards {
  display: flex;

  justify-content: space-between;
}
  
  .side {
    flex: 1;
  }