.addnew-container{


  }
  
  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .addButton{
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .table{
    width: 100%;
  }
  
  .table td{
    padding: 10px;
  }
  
  .product{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .productImage{
    border-radius: 50%;
    object-fit: cover;
  }
  
  .buttons{
    display: flex;
    gap: 10px;
  }
  
  .button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
  }
  
  .view{
    background-color: teal;
  }
  
  .delete{
    background-color: crimson;
  }

  .singlePostPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 4rem 1rem 4rem;
    max-width: 1200px;
    clear: both;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.date{
    margin-bottom: 1rem;
}

.img {

    width: 250px;
    float: left;
    
}

.content p {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .singlePostPageContainer {
        padding: 1rem 1rem 1rem 1rem;
    }
}